DB_NAME=car_rental
DB_USER=postgres
DB_PASSWORD=changeme
JWT_SECRET=changeme_generate_with_openssl_rand_base64_32
SUPER_ADMIN_BOOTSTRAP_PASSWORD=changeme
SUPER_ADMIN_BOOTSTRAP_EMAIL=super@testgmail.com
SUPER_ADMIN_BOOTSTRAP_FIRSTNAME=super
SUPER_ADMIN_BOOTSTRAP_LASTNAME=super
SUPER_ADMIN_BOOTSTRAP_PHONENUMBER=+390000000